<table>
    <tbody>
        <tr>
            <td class="SubCube00 Col0 Row0">0</td>
            <td class="SubCube00 Col1 Row0">0</td>
            <td class="SubCube00 Col2 Row0">0</td>
            <td class="SubCube01 Col3 Row0">0</td>
            <td class="SubCube01 Col4 Row0">0</td>
            <td class="SubCube01 Col5 Row0">0</td>
            <td class="SubCube02 Col6 Row0">0</td>
            <td class="SubCube02 Col7 Row0">0</td>
            <td class="SubCube02 Col8 Row0">0</td>
        </tr>
        <tr>
            <td class="SubCube00 Col0 Row1">0</td>
            <td class="SubCube00 Col1 Row1">0</td>
            <td class="SubCube00 Col2 Row1">0</td>
            <td class="SubCube01 Col3 Row1">0</td>
            <td class="SubCube01 Col4 Row1">0</td>
            <td class="SubCube01 Col5 Row1">0</td>
            <td class="SubCube02 Col6 Row1">0</td>
            <td class="SubCube02 Col7 Row1">0</td>
            <td class="SubCube02 Col8 Row1">0</td>
        </tr>
        <tr>
            <td class="SubCube00 Col0 Row2">0</td>
            <td class="SubCube00 Col1 Row2">0</td>
            <td class="SubCube00 Col2 Row2">0</td>
            <td class="SubCube01 Col3 Row2">0</td>
            <td class="SubCube01 Col4 Row2">0</td>
            <td class="SubCube01 Col5 Row2">0</td>
            <td class="SubCube02 Col6 Row2">0</td>
            <td class="SubCube02 Col7 Row2">0</td>
            <td class="SubCube02 Col8 Row2">0</td>
        </tr>
        <tr>
            <td class="SubCube10 Col0 Row3">0</td>
            <td class="SubCube10 Col1 Row3">0</td>
            <td class="SubCube10 Col2 Row3">0</td>
            <td class="SubCube11 Col3 Row3">0</td>
            <td class="SubCube11 Col4 Row3">0</td>
            <td class="SubCube11 Col5 Row3">0</td>
            <td class="SubCube12 Col6 Row3">0</td>
            <td class="SubCube12 Col7 Row3">0</td>
            <td class="SubCube12 Col8 Row3">0</td>
        </tr>
        <tr>
            <td class="SubCube10 Col0 Row4">0</td>
            <td class="SubCube10 Col1 Row4">0</td>
            <td class="SubCube10 Col2 Row4">0</td>
            <td class="SubCube11 Col3 Row4">0</td>
            <td class="SubCube11 Col4 Row4">0</td>
            <td class="SubCube11 Col5 Row4">0</td>
            <td class="SubCube12 Col6 Row4">0</td>
            <td class="SubCube12 Col7 Row4">0</td>
            <td class="SubCube12 Col8 Row4">0</td>
        </tr>
        <tr>
            <td class="SubCube10 Col0 Row5">0</td>
            <td class="SubCube10 Col1 Row5">0</td>
            <td class="SubCube10 Col2 Row5">0</td>
            <td class="SubCube11 Col3 Row5">0</td>
            <td class="SubCube11 Col4 Row5">0</td>
            <td class="SubCube11 Col5 Row5">0</td>
            <td class="SubCube12 Col6 Row5">0</td>
            <td class="SubCube12 Col7 Row5">0</td>
            <td class="SubCube12 Col8 Row5">0</td>
        </tr>
        <tr>
            <td class="SubCube20 Col0 Row6">0</td>
            <td class="SubCube20 Col1 Row6">0</td>
            <td class="SubCube20 Col2 Row6">0</td>
            <td class="SubCube21 Col3 Row6">0</td>
            <td class="SubCube21 Col4 Row6">0</td>
            <td class="SubCube21 Col5 Row6">0</td>
            <td class="SubCube22 Col6 Row6">0</td>
            <td class="SubCube22 Col7 Row6">0</td>
            <td class="SubCube22 Col8 Row6">0</td>
        </tr>
        <tr>
            <td class="SubCube20 Col0 Row7">0</td>
            <td class="SubCube20 Col1 Row7">0</td>
            <td class="SubCube20 Col2 Row7">0</td>
            <td class="SubCube21 Col3 Row7">0</td>
            <td class="SubCube21 Col4 Row7">0</td>
            <td class="SubCube21 Col5 Row7">0</td>
            <td class="SubCube22 Col6 Row7">0</td>
            <td class="SubCube22 Col7 Row7">0</td>
            <td class="SubCube22 Col8 Row7">0</td>
        </tr>
        <tr>
            <td class="SubCube20 Col0 Row8">0</td>
            <td class="SubCube20 Col1 Row8">0</td>
            <td class="SubCube20 Col2 Row8">0</td>
            <td class="SubCube21 Col3 Row8">0</td>
            <td class="SubCube21 Col4 Row8">0</td>
            <td class="SubCube21 Col5 Row8">0</td>
            <td class="SubCube22 Col6 Row8">0</td>
            <td class="SubCube22 Col7 Row8">0</td>
            <td class="SubCube22 Col8 Row8">0</td>
        </tr>
    </tbody>
</table>

<br />

<button mat-raised-button class="ColoringBttn" (click)="sub_cubes_col_func()">Sub-cubes</button>
<button mat-raised-button class="ColoringBttn" (click)="cols_col_func()">Columns</button>
<button mat-raised-button class="ColoringBttn" (click)="rows_col_func()">Rows</button>
<button mat-raised-button class="ColoringBttn" (click)="null_col_func()">Null-colorig</button>

<br />
<br />

<button mat-raised-button class="GameBttn" id="generate-bttn" (click)="generate_bttn_func()">Generate</button>
<button mat-raised-button class="GameBttn" id="solve-bttn" (click)="solve_bttn_func()">Solve</button>

<br />